*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.menu-wrapper{
	position: fixed;
	width: 90px;
	height: 100%;
	left: 0;
	top: 0;
	box-shadow: 14px 0 103px rgb(0 0 0 / 8%) ;
	z-index: 999;
	transition: 4s;
}

.menu-switch{
	width: 100%;
	height: 90px;
	padding-top: 23px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	background-color: #0f0f0f;

}

.menu-social-wrap{
	height: calc(100% - 90px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.menu-social a{
	display: block;
	font-size: 18px;
	color: #252525;
	margin-bottom: 50px;
}

.side-menu-wrapper{
	position: fixed;
	width: 270px;
	height: 100%;
    left: -280px;
	top: 0;
	overflow-y: auto;
	background-color: #fff;
	z-index: 9999;
	transition: 0.9s;
}

.show{
	top: 0;
	left: 0px;
}

.close{
	top: 0;
	left: -280px;
}

.side-menu-wrapper .sm-header{
	display: flex;
}

.menu-close{
	width: 90px;
	height: 90px;
	padding-top: 23px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	background-color: #0f0f0f;
	cursor: pointer;
}

.site-logo{
	background-color: #2916e0;
	width: calc(100% - 90px);
	align-items: center;
	justify-content: center;
	display: flex;
}

.site-logo a{
	color: #007bff;
	text-decoration: none;

}

.site-logo a img{
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
}

.main-menu{
	height: calc(100% - 160px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-menu ul{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.main-menu ul li a{
	display: block;
	font-size: 30px;
	font-weight: 600;
	color: #b2b2b2;
	text-decoration: none;
	transition: 0.8s;
}

.main-menu ul li a:active, .main-menu ul li a:hover{
	color: #2916e0;
}

.main-menu ul li{
	display: block;
	margin-bottom: 20px;
}

.sm-footer{
	position: absolute;
	left: 0;
	bottom: 5;
	width: 100%;
	text-align: center;
	padding: 0 15px;
}


.sm-social{
	display: block;
}

.sm-footer .sm-social a{
	display: inline-block;
	font-size: 18px;
	color: #b2b2b2;
    margin-right: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: transparent;
}

.copyright-text{
	font-size: 16px;
	font-weight: 500;
	color: #b2b2b2;
	padding-bottom: 40px;
}

.copyright-text p{
	font-size: 15px;
	color: #636363;
	line-height: 1.8;
	margin-top: 0;
	margin-bottom: 1rem;
}




.box{
	width:93.35vw;
	height:100vmin;
	display: flex;
	position:relative;
	left:90px;
	top:0;
}
.box-item{
	height:100%;
	flex:1;
	object-fit:cover;
	overflow:hidden;
	cursor:pointer;
	transition:all .3s;
	display: flex;
	position:relative;
}

.box-item img{
	height:100%;
	width:100%;
	object-fit: cover;
	flex:1;
	
}

.text h1{
	font-size: 38px;
}


.text h3{
	font-size: 20px;

}


.text h1,h3{
	color: white;
}

.text div{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.text button{
	background-color: white;
	color: blue;
	border: none;
	padding: 4px 4px;
	width: 100px;
	height: 35px;
}

.text div,h3{
	display: inline-block;
}



.text{
	width:400px;
	position:absolute;
	top:100px;
	left:37px;
	opacity:0;
	background-color:transparent;
	transition-property:opacity;
	transition:all .6s ease ;
}
.box-item:hover{
	flex:5;

}
.box-item:hover .text{
	opacity:1;
	transform: translateY(200px);
}

.box-2{
	display: none;
    height: 100vmin;
	width: 100%;
	position: relative;
}

.box-item-2 .text-2{
	width: 400px;
    position: absolute;
    top: 100px;
    left: 139px;
    opacity: 1;
    background-color: transparent;
    transition-property: opacity;
	animation: textdown 12s linear infinite;
	transform: translatey(100px);
}

@keyframes textdown{
	10%{
		transform: translatey(150px);
	}

	100%{
		transform: translatey(150px);
	}
}



.text-2 h1{
	font-size: 38px;
}


.text-2 h3{
	font-size: 20px;

}


.text-2 h1,h3{
	color: white;
}

.text-2 div{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.text-2 button{
	background-color: white;
	color: blue;
	border: none;
	padding: 4px 4px;
	width: 100px;
	height: 35px;
}

.text-2 div,h3{
	display: inline-block;
}

.box-item-2{
    height: 100%;
	width: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    position: absolute;
	top: 0;
	left: 0;
	
}

.box-item-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex: 1;
	animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out{
	100%{
		width: 100%;
	}
}

.slide-1{
	animation: slide1 12s linear infinite;
}

.slide-2{
	animation: slide2 12s linear infinite;
}

.slide-3{
	animation: slide3 12s linear infinite;
}

.slide-4{
	animation: slide4 12s linear infinite;
}

.slide-5{
	animation: slide5 12s linear infinite;
}

@keyframes slide1{
	0%{
      visibility: visible;
	}
	20%{
	  visibility: hidden;
	}
	40%{
	  visibility: hidden;
	}
	60%{
		visibility: hidden;
	}
	80%{
		visibility: hidden;
	}
	100%{
		visibility: visible;
	  }
}

@keyframes slide2{
	0%{
      visibility: hidden;
	}
	20%{
	  visibility: visible;
	}
	40%{
	  visibility: hidden;
	}
	60%{
		visibility: hidden;
	}
	80%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	  }
}

@keyframes slide3{
	0%{
      visibility: hidden;
	}
	20%{
	  visibility: hidden;
	}
	40%{
	  visibility: visible;
	}
	60%{
		visibility: hidden;
	}
	80%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	  }
}

@keyframes slide4{
	0%{
      visibility: hidden;
	}
	20%{
	  visibility: hidden;
	}
	40%{
	  visibility: hidden;
	}
	60%{
		visibility: visible;
	}
	80%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	  }
}

@keyframes slide5{
	0%{
      visibility: hidden;
	}
	20%{
	  visibility: hidden;
	}
	40%{
	  visibility: hidden;
	}
	60%{
		visibility: hidden;
	}
	80%{
		visibility: visible;
	}
	100%{
		visibility: hidden;
	  }
}


.text-box1{
	animation-delay: 0ms;
}

.text-box2{
	animation-delay: 1ms;
}

.text-box3{
	animation-delay: 2ms;
}

.text-box4{
	animation-delay: 3ms;
}

.text-box5{
	animation-delay: 4ms;
}











@media screen and (max-width: 991px){
	.box-2{
		display: block;
	}

	.box{
		display: none;
	}
}

@media screen and (max-width: 653px){
	.box-item-2{
		height: 100vh;
	}
	.box-item-2 .text-2{
		width: 300px;
	}

	.text-2 button{
		width: 84px;
        height: 29px;
	}

	.text-2 h1{
		font-size: 27px;
	}

	.text-2 div{
		width: 33px;
        height: 33px;
	}

	.text-2 h3{
		font-size: 18px;
	}
}