*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.blog-banner{
    width: 100%;
    
}

.blog-img{
    height: 250px;
	overflow: hidden;
    background-size: cover;
    position: relative;
   
}

img{
    width: 100%;
    height: 100%;
    margin: 0;
   
}

.blog-img .blog-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( 180deg, transparent, transparent, rgb(0, 0, 0));
   
}


.blog-text b{
    color: rgb(14, 114, 148);
    background-color: white;
    padding: 1px 15px 1px 15px;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 15px;
}

.blog-text h2,p{
    color: white;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.blog-text p{
    position: absolute;
    bottom: 70px;
    left: 10px;
}


.img-1{
    background-image: url(img7.jpg);
}

.img-2{
    background-image: url(img6.jpg);
}

.img-3{
    background-image: url(img-5.jpg);
}

.img-4{
    background-image: url(img-4.webp);
}

.img-5{
    background-image: url(img-3.webp);
}

.img-6{
    background-image: url(img-2.jpg);
}

.img-7{
    background-image: url(img-1.webp);
}

.img-8{
    background-image: url(home.jpg);
}

.img-9{
    background-image: url(headphone.jpg);
}

.img-10{
    background-image: url(car.jpg);
}

.img-11{
    background-image: url(img-11.webp);
}

.img-12{
    background-image: url(img-12.jpg);
}

.img-13{
    background-image: url(img-13.jpg);
}

.img-14{
    background-image: url(img-14.jpg);
}